*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

build/
charts/build/
example-app/android/build/
example-app/application/build/
example-app/common/build/
example-app/desktop/build/
modules.xml
local.properties
.gradle
.idea/
.DS_Store

publishing.properties